.sidebar{
                display: flex;
                flex-direction: column;
                position: fixed;
                left: 0px;
                top: 57px;
                bottom: 0px;
                width: 72px;
                justify-content: start;
                z-index: 300;
                background-color: white;
            }
            .side-icons{
                display: flex;
                width: 72px;
                height: 75px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .side-icons:hover{
                background-color: rgb(231, 230, 230);
                cursor: pointer;
            }

            .sidebar-icons{
                height: 24px;
                width: 24px;
            }

            .side-bar-icons-descriptions{
                font-size: 10px;
                margin-top: 5px;
            }